.intro {
    display: flex;
    background: rgb(155,14,168);
    background: linear-gradient(90deg, rgba(155,14,168,1) 0%, rgba(56,22,190,1) 32%, rgba(226,0,255,1) 100%);
}

.img {
    order: 1;
}

.body {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}